<html>

<head>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Nicholas Conrad">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Professional Business Email</title>
  <link rel="icon" type="image/x-icon" href='/img/favicon.ico'>
  <meta name="referrer" content="no-referrer-when-downgrade" />
</head>

<body>
  <header>
    <h1><em>Cheap</em> Business Email</h1>
    <div id="header-menu">
    </div>
  </header>

  {{#ifeq user_data -1}}
  <div id="login-screen" class="centered">
    <form id='login-form'>
      <h2>Login</h2>
      <input type='email' name='email' placeholder='Email' /><br>
      <input type='password' name='password' placeholder='Password' /><br>
      <input type='submit' /><br>
      <div class="show-register" onclick="showRegister()">Dont't Have an Account? Register Now</div>
    </form>
    <form id='register-form'>
      <h2>Register</h2>
      <input type='email' name='email' placeholder='Email' /><br>
      <input type='password' name='password' placeholder='Password' /><br>
      <input type='submit' /><br>
      <div class="show-login" onclick="showLogin()">Already Have an Account? Login Now</div>
    </form>

  </div>
  {{else}}
  <div id="dvis">
    <h2>Domain Verification</h2>
    <div id="verify-domain-name"></div>
    <br>
    1) Add / Change MX record:<br>
    Name: @<br>
    Value: cheapbusiness.email<br><br>
    2) Add TXT record:<br>
    Name: @<br>
    Value: <span id="dns-txt-key"></span><br><br>
    3) Add TXT record:<br>
    Name: @<br>
    Value: v=spf1 mx ~all<br>
    <button onclick="validateDomain()">Validate Domain</button>
    <button onclick="closeValidateDomain()">Close</button>
  </div>
  <div id="portal">
    <div id="account-summary">
      My Plan: <b>{{#ifeq user_data.plan 0}}Free{{else}}Premium{{/ifeq}}</b><br>
      Storage: <b>0/{{#ifeq user_data.plan 0}}5{{else}}100{{/ifeq}}GB</b><br>
      Domains: <b>{{my_domains.length}}/{{#ifeq user_data.plan 0}}∞{{else}}∞{{/ifeq}}</b><br>
      Users: <b><span id="my_email_users_length"></span>/∞</b>
    </div>
    <div id="portal-content">
      <!--<div class="client-settings">
            IMAP: Port 993<br>
            POP3: Port 995<br>
            SMTP: 587<br>
            Password Type: Encrypted
          </div> -->
      {{#ifeq my_domains.length 0}}
      <h2>You Have No Domains</h2>
      {{else}}
      <h2 id="prompt">Select a Domain</h2>
      <div id="domain-list">
        {{#each my_domains}}

        <div class="my_domain" data-id="{{id}}">

          {{#ifeq dns_verified 1}}
          <div class="my_domain_name" onclick='showDomainPanel("{{id}}")'>
            {{name}}
            <br>
            <div class="my_domain_verified">
              <div class="domain-verified">Verified</div>
            </div>
          </div>
          {{else}}
          <div class="my_domain_name" onclick='showDomainVerificationInstructions("{{name}}","{{dns_txt_code}}")'>
            {{name}}
            <br>
            <div class="my_domain_verified">
              <div class='domain-not-verified'>Not Verified</div>
            </div>
          </div>
          {{/ifeq}}


          <div class="domain_panel" data-id="{{id}}">

            <div id="my_domain_email_users">
              <input class="add-email-user-input" data-id="{{id}}" data-domain="{{name}}"
                placeholder="user" />@{{name}}<br>
                <input type="password" "add-email-user-password" data-id="{{id}}" data-domain="{{name}}"
                placeholder="password" /><br>
              <button onclick="addEmailUser({{id}})">Add Email User</button>
             
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/ifeq}}
      <div id="bottom-button" onclick="addDomain()">Add Domain</div>
    </div>
  </div>

  {{/ifeq}}

  <footer>
    Privacy Policy | Terms of Service | About Us | Blog | FAQs | Pricing
    {{#ifeq user_data -1}}
    {{else}}
    | <span class="logout-txt" onclick="logout()">Logout ({{{user_data.email}}})</span>
    {{/ifeq}}
  </footer>
 <!--<div class="email-user">
                    nick@rise-game.com
                    Created: 0/0/00
                    Storage: 120MB
                    <div class='change-pass'>
                      key icon
                    </div>

                  </div>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script>


    var my_domain_panels = document.getElementsByClassName("domain_panel");
    var my_email_users = {{{my_email_users}}};
      //load email users into panels
    document.getElementById("my_email_users_length").innerHTML = my_email_users.length;
    console.log("Loading email users:", my_email_users)
    
    for(var d = 0; d < my_domain_panels.length; d++) {
      for(var i = 0; i < my_email_users.length; i++) {
        if(my_email_users[i].domain_id == my_domain_panels[d].dataset.id) {
          var emailUserDiv = document.createElement("div")
          emailUserDiv.classList.add("email-user")
          var emailUserNameDiv = document.createElement("div")
          emailUserNameDiv.classList.add("email-user-full-email")
          emailUserNameDiv.innerHTML = my_email_users[i].email
          emailUserDiv.appendChild(emailUserNameDiv);

          var emailUserCreatedAtDiv = document.createElement("div")
          emailUserCreatedAtDiv.classList.add("email-user-created-at")
          emailUserCreatedAtDiv.innerHTML = my_email_users[i].created_at;
          emailUserDiv.appendChild(emailUserCreatedAtDiv);

          var emailUserStorageDiv = document.createElement("div")
          emailUserStorageDiv.classList.add("email-user-storage")
          emailUserStorageDiv.innerHTML = my_email_users[i].storage_used;
          emailUserDiv.appendChild(emailUserStorageDiv);

          my_domain_panels[d].appendChild(emailUserDiv)
        }
    }
    }

    
  </script>
  <script src='/js/core.js'></script>
</body>

</html>