<html>

<head>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Nicholas Conrad">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Professional Business Email</title>
  <link rel="icon" type="image/x-icon" href='/img/favicon.ico'>
  <meta name="referrer" content="no-referrer-when-downgrade" />
</head>

<body>
  <header>
    <h1>Cheap Business Email</h1>
  </header>

  {{#ifeq user_data -1}}
  <div id="login-screen" class="centered">
    <form id='login-form'>
      <h2>Login</h2>
      <input type='email' name='email' placeholder='Email' /><br>
      <input type='password' name='password' placeholder='Password' /><br>
      <input type='submit' /><br>
      <span class="show-register" onclick="showRegister()">Dont't Have an Account? Register Now</span>
    </form>
    <form id='register-form'>
      <h2>Register</h2>
      <input type='email' name='email' placeholder='Email' /><br>
      <input type='password' name='password' placeholder='Password' /><br>
      <input type='submit' /><br>
      <span class="show-login" onclick="showLogin()">Already Have an Account? Login Now</span>
    </form>

  </div>
  {{else}}
  <div id="dvis">
    <h2>Domain Verification Instructions</h2>
    <div id="verify-domain-name"></div>
    Add / Change MX record:<br>
    Name: @<br>
    Value: cheapbusiness.email<br><br>
    Add TXT record:<br>
    Name: @<br>
    Value: <span id="dns-txt-key"></span>
    <button onclick="validateDomain()">Validate Domain</button>
  </div>
  <div id="portal">
    <div id="account-summary">
      Welcome!<br>
      Account Email: {{user_data.email}}<br>
      My Plan: Free<br>
      Storage: 0/0GB<br>
      Domains: 0/1<br>
      Users: 0/5
    </div>
    <div class="client-settings">
            IMAP: Port 993<br>
            POP3: Port 995<br>
            SMTP: 587<br>
            Password Type: Encrypted
          </div>

    <div id="domain-list">
      {{#each my_domains}}
      <div class="my_domain">
        <div class="my_domain_name">
        {{name}}
        </div>

        <div class="my_domain_verified">

          {{#ifeq dns_verified 1}}
            Verified
          {{else}}
            <div onclick='showDomainVerificationInstructions("{{name}}","{{dns_txt_code}}")'>Not Verified</div>
          {{/ifeq}}
        </div>
{{#ifeq dns_verified 1}}
          <br>
          <br>
            <div id="my_domain_email_users">
              <input class="add-email-user-input" data-id="{{id}}" data-domain="{{name}}" placeholder="user"/>@{{name}}<br>
              <button onclick="addEmailUser({{id}})">Add Email User</button>
          <!--<div class="email-user">
            nick@rise-game.com
            Created: 0/0/00
            Storage: 120MB
            <div class='change-pass'>
              key icon
            </div>

          </div>-->
        </div>
  {{/ifeq}}
        </div>
      {{/each}}
      </div>
    <span class="add-domain" onclick="addDomain()">Add Domain</span>

    <div id="no-domains">
      <img src="/img/no-domains.webp" />
    </div>


  </div>

  {{/ifeq}}

  <footer>
    Privacy Policy | Terms of Service |
    {{#ifeq user_data -1}}
    {{else}}
    <span class="logout-txt" onclick="logout()">Logout</span>
    {{/ifeq}}
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src='/js/core.js'></script>
</body>

</html>